@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* ======= Base Colors ======= */
    --color-black: 0 0% 0%;
    --color-white: 0 0% 100%;
    --color-background: 0 0% 100%;
    --color-foreground: 0 0% 0%;

    /* ======= Text Shades ======= */
    --text-primary: 0 0% 5%;
    --text-secondary: 0 0% 20%;
    --text-tertiary: 0 0% 40%;
    --text-muted: 0 0% 65%;

    /* ======= Background Shades ======= */
    --background-primary: 0 0% 100%;
    --background-secondary: 0 0% 96%;
    --background-tertiary: 0 0% 90%;
    --background-muted: 0 0% 85%;

    /* Neutral */
    --neutral-50: 0 0% 98%;
    --neutral-100: 0 0% 96.1%;
    --neutral-200: 0 0% 89.8%;
    --neutral-300: 0 0% 83.1%;
    --neutral-400: 0 0% 63.9%;
    --neutral-500: 0 0% 45.1%;
    --neutral-600: 0 0% 32.2%;
    --neutral-700: 0 0% 25.1%;
    --neutral-800: 0 0% 14.9%;
    --neutral-900: 0 0% 9%;
    --neutral-950: 0 0% 3.9%;

    /* Priority colors */
    --color-priority-low: 214 95% 93%;
    --color-priority-medium: 55 97% 88%;
    --color-priority-high: 0 93% 94%;

    /* Main colors */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    /* ======= Base Colors ======= */
    --color-black: 0 0% 0%;
    --color-white: 0 0% 100%;
    --color-background: 0 0% 3.9%;
    --color-foreground: 0 0% 98%;

    /* ======= Text Shades ======= */
    --text-primary: 0 0% 96.08%;
    --text-secondary: 0 0% 89.8%;
    --text-tertiary: 0 0% 65%;
    --text-muted: 0 0% 45%;

    /* ======= Background Shades ======= */
    --background-primary: 0 0% 1.9%;
    --background-secondary: 0 0% 4.5%;
    --background-tertiary: 0 0% 7%;
    --background-muted: 0 0% 25.1%;
    --background-hover: 0 0% 3.5%;

    /* ======= Priority colors ======= */
    --color-priority-low: 214 95% 93%;
    --color-priority-medium: 55 97% 88%;
    --color-priority-high: 0 93% 94%;

    /* ======= Calendar Colors ======= */
    --sx-color-background: 0 0% 0%;

    /* ======= Main Colors ======= */
    --background: 0 0% 0%;
    --foreground: 0 0% 96.08%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 96.08%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 96.08%;
    --primary: 0 0% 96.08%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 96.08%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 96.08%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96.08%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --shadow-color: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--background-primary);
    --sidebar-primary-foreground: var(--text-primary);
    --sidebar-accent: var(--background-tertiary);
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* ======= calendar variables ======= */

.sx-react-calendar-wrapper > .is-dark {
  /* colors */
  --sx-color-primary: hsl(var(--foreground));
  --sx-color-on-primary: #010101;
  --sx-color-primary-container: hsl(var(--foreground));
  --sx-color-on-primary-container: #000000;
  --sx-color-secondary: #a897c2;
  --sx-color-on-secondary: #332d41;
  --sx-color-secondary-container: #4a4458;
  --sx-color-on-secondary-container: hsl(var(--text-secondary));
  --sx-color-tertiary: #efb8c8;
  --sx-color-on-tertiary: #492532;
  --sx-color-tertiary-container: #633b48;
  --sx-color-on-tertiary-container: #ffd8e4;
  --sx-color-surface: #141218;
  --sx-color-surface-dim: #141218;
  --sx-color-surface-bright: #3b383e;
  --sx-color-on-surface: #e6e1e5;
  --sx-color-surface-container: #211f26;
  --sx-color-surface-container-low: #111;
  --sx-color-surface-container-high: #010101;
  --sx-color-background: #000000;
  --sx-color-on-background: #e6e1e5;
  --sx-color-outline: #999;
  --sx-color-outline-variant: #444746;
  --sx-color-shadow: #000;
  --sx-color-surface-tint: #d0bcff;
  --sx-color-neutral: var(--sx-color-outline);
  --sx-color-neutral-variant: var(--sx-color-outline-variant);
  --sx-internal-color-gray-ripple-background: #e0e0e0;
  --sx-internal-color-light-gray: #fafafa;
  --sx-internal-color-text: #fff;

  /* sizes */
  --sx-spacing-padding1: 4px;
  --sx-spacing-padding2: 8px;
  --sx-spacing-padding3: 6px;
  --sx-spacing-padding4: 16px;
  --sx-spacing-padding6: 24px;
  --sx-spacing-modal-padding: 16px;
  --sx-box-shadow-level3: 0 3px 6px 0 rgb(0 0 0 / 16%),
    0 3px 6px 0 rgb(0 0 0 / 23%);
  --sx-rounding-extra-small: 4px;
  --sx-rounding-small: 8px;
  --sx-rounding-extra-large: 28px;
  --sx-border: 1px solid var(--sx-color-outline-variant);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background-primary text-foreground;
  }
}

@layer utilities {
  .rotate-x-90 {
    transform: rotateX(90deg);
  }
}

/* Flip Card styles */
.flip-card {
  @apply relative inline-flex flex-col rounded-sm text-4xl shadow-[0_2px_3px_rgba(0,0,0,0.2)] transition-all duration-300;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  @apply h-[0.75em] w-[1.05em] overflow-hidden p-[0.25em] leading-none text-black;
}

.top,
.flip-card .top-flip {
  @apply flex justify-center rounded-t-sm border-b border-black/50 bg-neutral-200;
}
.bottom,
.flip-card .bottom-flip {
  @apply flex items-end justify-center rounded-b-sm bg-neutral-100;
}

.flip-card .top-flip {
  @apply absolute w-full origin-bottom animate-[flip-top_250ms_ease-in];
}
.flip-card .bottom-flip {
  @apply rotate-x-90 absolute bottom-0 w-full origin-top animate-[flip-bottom_250ms_ease-in_250ms];
}

.container-segment {
  @apply flex h-full w-full items-center justify-center gap-2;
}

input:is(:-webkit-autofill, :autofill) {
  background-color: white !important;
}

::-webkit-scrollbar {
  display: none;
}

/* calendar styles */

.sx-react-calendar-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 800px;
  max-height: 90vh;
}
.sx__event {
  border-color: var(--sx-color-secondary) !important;
}
.sx__time-grid-event:hover {
  opacity: 0.95;
  transition: opacity 0.2s ease-in-out;
}
.sx__date-picker-popup {
  border: 1px solid #555;
  border-radius: 5px;
}
.sx__month-grid-day:hover {
  cursor: pointer;
  background-color: #10101088;
  transition: background-color 0.05s ease-in-out;
}
.sx__date-input--active .sx__date-input {
  outline: none !important;
  border: var(--sx-border) !important;
}
.sx__date-picker-popup.bottom-end {
  top: 120% !important;
}
.sx__date-input-chevron-wrapper:focus {
  border: none !important;
}
.sx__view-selection-items {
  top: 110% !important;
  min-width: 220px;
  background-color: white;
  padding: 4px !important;
  border: 1px solid #555;
  border-radius: 6px;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.sx__view-selection-items > :not(:last-child) {
  margin-bottom: 4px;
}
.sx__view-selection-item {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.sx__view-selection-item.is-selected {
  color: var(--sx-color-on-primary) !important;
  background-color: var(--sx-color-primary) !important;
}
.sx__view-selection-item:hover,
.sx__view-selection-item:focus {
  color: var(--sx-color-on-surface) !important;
  background-color: #111 !important;
}
.sx__view-selection-item.is-selected:hover,
.sx__view-selection-item.is-selected:focus {
  color: var(--sx-color-on-primary) !important;
  background-color: var(--sx-color-primary) !important;
}
.sx__event-modal-default {
  border: 1px solid var(--sx-color-surface-bright);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
